[submodule "reference/cadquery"]
	path = reference/cadquery
	url = https://github.com/CadQuery/cadquery.git
	ignore = all
[submodule "reference/dolfinx"]
	path = reference/dolfinx
	url = https://github.com/FEniCS/dolfinx.git
	ignore = all
[submodule "reference/gmsh"]
	path = reference/gmsh
	url = https://gitlab.onelab.info/gmsh/gmsh.git
	ignore = all
[submodule "reference/paraview"]
	path = reference/paraview
	url = https://github.com/Kitware/ParaView.git
	ignore = all
[submodule "reference/petsc"]
	path = reference/petsc
	url = https://gitlab.com/petsc/petsc.git
	ignore = all
[submodule "reference/ufl"]
	path = reference/ufl
	url = https://github.com/FEniCS/ufl.git
	ignore = all
[submodule "reference/pint"]
	path = reference/pint
	url = https://github.com/hgrecco/pint.git
	ignore = all
	shallow = true
[submodule "reference/ADIOS2"]
	path = reference/ADIOS2
	url = https://github.com/ornladios/ADIOS2.git
	ignore = all
	shallow = true
[submodule "reference/pydantic"]
	path = reference/pydantic
	url = https://github.com/pydantic/pydantic.git
	ignore = all
	shallow = true
[submodule "reference/basix"]
	path = reference/basix
	url = https://github.com/FEniCS/basix.git
	ignore = all
[submodule "reference/ffcx"]
	path = reference/ffcx
	url = https://github.com/FEniCS/ffcx.git
	ignore = all
[submodule "reference/slepc"]
	path = reference/slepc
	url = https://gitlab.com/slepc/slepc.git
	ignore = all
